.fact .badge-pill {
  font-size: 20px;
}

.fact .title {
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  margin-right: 5px;
}

.fact .units {
  font-size: 0.7em;
}

.mouse-over .fact:hover {
  background-color: #eee;
  cursor: pointer; 
}

@media only screen and (max-width: 1000px) {
  .fact .badge-pill {
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1199px) {
  .playing-card .fact .badge-pill {
    margin: 0;
    font-size: 16px;
  }
}