.fact {
  position: relative;
  height: 60px;
  width: 100%;
}

.fact h5 {
  margin-bottom: 0;
}

.fact .message {
  position: absolute;
  left: 10px;
  margin: auto auto;
  max-width: 70%;
}

.fact .figure {
  position: absolute;
  right: 10px;
  margin: auto;
}

.fact .badge-pill {
  margin-top:5px;
  font-size: 20px;
}

.fact .units {
  font-size: 1em;
}

.mouse-over .fact:hover {
  background-color: #eee;
  cursor: pointer; 
}

@media only screen and (max-width: 1000px) {
  .fact .badge-pill {
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1199px) {
  .playing-card .fact .badge-pill {
    margin: 0;
    font-size: 16px;
  }
}