/*  Main sections  */
.logo {
  position: sticky;
  text-align: center;
  padding-bottom: 10px;
  height: 18vh;
}

.logo img {
  height: 100%;
}

@media (max-width: 1200px) { 
  .logo {
    height: 16vh;
  }
}

@media (max-width: 992px) { 
  .logo {
    height: 13vh;
  }
  .logo.game {
    padding-left: 100px;
  }
}

@media (max-width: 768px) { 
  .logo {
    padding-right: 40px;
  }
}

@media (max-width: 576px) { 
  .logo.game {
    height: 10vh;
    margin-bottom:20px;
  }
}

@media (max-width: 480px) { 
  .logo.game img {
    display: none;
  }
  .logo.game {
    height: 7vh;
  }
}