.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map.zoom {
  position: absolute;
  z-index: 500000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.map .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.map.round {
  padding-bottom: 100%;
}

.map.round .layer, .map.round .overlay {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; 
  border: solid 4px white;
  overflow: hidden;
}


.map.zoom.round .layer, .map.zoom.round .overlay {
  border-radius: 0;
  border: none;
}

.map .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map .controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

.map .highlight {
  stroke: rgb(255, 0, 221)!important;
  stroke-width: 5px;
}

#Image_icethickness___test {
  /* display: none; */
}

#Image_bedelevation___test {
  display: none;
}

.map .infoPane {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  color: white;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.map .infoPane h3 {
  font-size: 2em;
  margin-bottom: 3px;
}

.map .infoPane p {
  font-size: 1.5em;
}

.map.round .infoPane {
  font-size: 14px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; 
}