.soundSettingsPane {
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 6000;
}


@media (max-width: 1200px) {
  .soundSettingsPane {
    top: 50px;
  }
  .soundSettingsPane .btn-group .btn {
    padding: 0.5rem 1rem;
    font-size:95%;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  .soundSettingsPane {
    top: 45px;
  }
  .soundSettingsPane .btn-group .btn {
    padding: 0.4rem 0.9rem;
    font-size:90%;
    line-height: 1.4;
  }
}

@media (max-width: 576px) {
  .soundSettingsPane {
    top:35px;
  }
  .soundSettingsPane .btn-group .btn { 
    padding: 6px;
    font-size:90%;
    line-height: 1;
  }
}