body {
  background-image: url('../res/patterns/pattern4.png');
}

.welcome {
  text-align: center;
}

.welcome button {
  width: 250px;
  height: 350px;
  background-color: blue;
  background-repeat: repeat;
  color: white;
  border: 10px solid white;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  -webkit-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
  font-size: 30px;
  cursor: pointer;
}

.welcome div {
  font-family: 'PlaySir', cursive;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
      1px 1px 0 #000;
}

.welcome button:hover {

}

.welcome button.play  {
  margin-right:20px;
  margin-left:auto;
  background-image: url('../res/patterns/pattern1.png');
  transform:rotate(6deg);
  z-index: 500!important
}

.welcome button.tour  {
  margin-left:20px;
  margin-right:auto;
  background-image: url('../res/patterns/pattern3.png');
  transform:rotate(-5deg);
  z-index: 400!important;
}

.welcome button.browse  {
  margin-right:20px;
  margin-left:auto;
  background-image: url('../res/patterns/pattern2.png');
  transform:rotate(-5deg);
}

.welcome button.map  {
  margin-right:20px;
  margin-left:auto;
  background-image: url('../res/patterns/pattern2.png');
  transform:rotate(5deg);
}

