.welcome {
  text-align: center;
}
.welcome .img {
  width: 100%;
  padding-bottom: 50%;
  background-color: blue;
  margin: auto auto;
  background-repeat: repeat;
  padding: 20px;
}
.welcome .img.play {
  background-image: url('../res/cardcover.png');
}

.welcome .img.tour {
  background-image: url('../res/cardcover.png');
}