body, html {
  background-color: #0099ff!important;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body, html {
    overflow: auto;
  }
 }


@font-face {
    font-family: 'PlaySir';
    src: url('./res/fonts/PLAYSIR Regular.otf') ;
    font-weight: normal;
    font-style: normal;
}

.app {
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

.loading {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 20%;
}