body, html {
  background-color: #0099ff!important;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'PlaySir';
    src: url('./res/fonts/PLAYSIR Regular.otf') ;
    font-weight: normal;
    font-style: normal;
}

.app {
  margin: 0;
  padding:0;
}
