
.decks {
  display: flex;
  flex-direction: row;
  height: 78vh;
  width: 100%;
  max-width: 1200px;
  margin: auto auto;
}

@media (max-width: 1200px) { 
  .decks {
    height: 80vh;
  }
}

@media (max-width: 992px) { 
  .decks {
    height: 85vh;
  }
}

@media (max-width: 768px) { 
  .decks {
    flex-direction: column;
    height: 90vh;
  }
}

@media (max-width: 576px) { 
  .decks {
    height: 90vh;
  }
}

.game-area.container-fluid {
  padding: 0;
  height: 100%;
  width: 100%;
}

.game-area .container {
  padding: 0;
}

.game-area .exit {
  position: absolute;
  top: 140px;
  left: 10px;
}


@media (max-width: 992px) {
  .game-area .exit {
    top: 95px;
  }
}

@media (max-width: 768px) { 
  .game-area .exit {
    position: absolute;
    top: 70px;
  }
  .game-area .exit .btn { 
    padding: 6px;
    font-size:90%;
    line-height: 1;
  }
}

