body, html {
  background-color: #0099ff!important;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/*  Main sections  */
.logo {
  text-align: center;
  margin-bottom: 10px;
  height: 20vh;
  margin-bottom: 20px;
}
.logo img {
  height: 100%;
}
.decks{
  height: 70vh;
}
.stats {
  height: 10vh;
}

/* Playing card */
.playing-card {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 90%;
}

.playing-card .card {
  height: 100%;
  border: solid 10px white;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.back .img {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-color: #A7D4F9;
  background-position: center;
  background-repeat: no-repeat;
}

.card-list {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.fact .badge-pill {
  font-size: 20px;
}

.front .title {
  color: black;
  background-color: rgba(255,255,255,0.6);
  padding: 10px;
}

.front .img {
  border-radius: 50%;
  border: solid 4px white;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7D4F9;
}

@media only screen and (max-height: 650px) {
  .front .img {
    margin: 5px auto;
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-height: 800px) {
  .front .img {
    width: 250px;
    height: 250px;
  }
}

/* entire container, keeps perspective */
.flip-container {
  position: relative;
  -webkit-perspective: 1000;
}

/* flip the pane when clicked */
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
  height: 100%;
  overflow: hidden;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
  position: relative;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
  position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
}